@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A simple ASP.NET MVC application for the management of Book information, using Entity Framework ORM, SQL Server database, and hosted on Microsoft Azure Cloud Platform.</p>
