@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>A simple ASP.NET MVC 5 web application for the management of Book and Author information, using database first Entity Framework ORM, SQL Server database, and hosted on Microsoft Azure Cloud Platform. 
 Also this web application uses GUID for primary key of EF models and db tables instead of an INT with IDENTITY.
    This web application initially used LocalDB SQL Server, but after publish to Microsoft Azure will use Azure SQL Server DB.</p>
<p>This web application is freely distributable under terms of MIT open source license</p>
<p>@Html.ActionLink("MIT License", "License", "Home")</p>