@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Michael G. Workman<br />
    ABION Technology<br />
    208 Caroline Street #504<br />
    Cape Canaveral, FL 32920<br />
    <abbr title="Phone">P:</abbr>
    (321) 432-9295
</address>

<address>
    <strong>Email:</strong> michael DOT g DOT workman AT gmail DOT COM</a>
</address>