@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Books Application</h1>
    <p class="lead">A simple ASP.NET MVC application for the management of Book information</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>